<?xml version="1.0"?>
<robot name="camera">
    <link name="camera_base_link"/>

    <link name="bracket_link">
        <visual name="camera">
            <origin xyz="-0.0375 0.055  0" rpy="1.5708 0 0"/>
            <geometry>
                <mesh filename="file://@MC_MESH_DIR@/bracket.stl"/>
            </geometry>
            <material name="grey">
                <color rgba="0.7 0.6 0.5 1"/>
            </material>
        </visual>
        <inertial>
            <origin xyz="-0.0375 0.055  0" rpy="1.5708 0 0"/>
            <mass value="0.0698"/>
            <inertia ixx="5.40350E-05" ixy="8.13203E-08" ixz="1.70226E-06"
                    iyy="5.69809E-05" iyz="1.05961E-06" izz="8.81951E-05"/>
        </inertial>
        <collision name="screw_collision">
            <origin xyz="-0.0375 0.055  0" rpy="1.5708 0 0"/>
            <geometry>
                <mesh filename="file://@MC_MESH_DIR@/bracket.stl"/>
            </geometry>
        </collision>
    </link>

    <link name = "camera_link">
        <visual name="camera">
            <origin xyz="0. 0.055 0.02025" rpy="0 0 0"/>
            <geometry>
                <box size="0.09 0.0243 0.0285"/>
            </geometry>
            <material name="grey">
                <color rgba="0.7 0.6 0.5 1"/>
            </material>
        </visual>
        <inertial>
            <origin xyz="0. 0.055 0.02025" rpy="0 0 0"/>
            <mass value="0.0698"/>
            <inertia ixx="5.40350E-05" ixy="8.13203E-08" ixz="1.70226E-06"
                    iyy="5.69809E-05" iyz="1.05961E-06" izz="8.81951E-05"/>
        </inertial>
        <collision>
            <origin xyz="0. 0.055 0.02025" rpy="0 0 0"/>
            <geometry>
                <box size="0.09 0.0243 0.0285"/>
            </geometry>
        </collision>
    </link>

    <joint name="camera_joint_1" type="fixed">
        <parent link="camera_base_link"/>
        <child link="bracket_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>


    <joint name="camera_joint_2" type="fixed">
        <parent link="bracket_link"/>
        <child link="camera_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>
</robot>
