<robot name="call_m_camera_interface">
  <link name="call_m_camera_interface_base_link" />
  <link name="camera_interface_support">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://@meshes_DIR@/call_m_camera_interface/call_m_camera_interface.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://@meshes_DIR@/call_m_camera_interface/call_m_camera_interface.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/> <!-- Adjust mass -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="0.0001" ixy="0.0"  ixz="0.0"
        iyy="0.0001" iyz="0.0"
        izz="0.0001"/>
    </inertial>
  </link>

  <link name="camera_link"/>

  <!-- Fixed joint between robot and interface -->
  <joint name="ee_to_camera_interface" type="fixed">
    <parent link="call_m_camera_interface_base_link"/>
    <child link="camera_interface_support"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Fixed joint between interface and camera -->
  <joint name="camera_interface_to_camera" type="fixed">
    <parent link="camera_interface_support"/>
    <child link="camera_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>
</robot>
