<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_hande_gripper">
    <!-- parameters -->
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="com_port" default="/dev/ttyUSB0" />
    <xacro:arg name="baudrate" default="115200" />
    <xacro:arg name="parity" default="N" />
    <xacro:arg name="data_bits" default="8" />
    <xacro:arg name="stop_bit" default="1" />
    <xacro:arg name="slave_id" default="9" />
    <xacro:arg name="frequency_hz" default="10" />
    <xacro:arg name="grip_pos_min" default="0" />
    <xacro:arg name="grip_pos_max" default="0.025" />
    <xacro:arg name="xyz" default="0 0 0" />
    <xacro:arg name="rpy" default="0 0 0" />

    <!-- Import macros -->
    <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.xacro" />

    <link name="robotiq_hande_origin" />
    <xacro:robotiq_hande_gripper name="RobotiqGripperHardwareInterface" prefix=""
        parent="robotiq_hande_origin"
        grip_pos_min="$(arg grip_pos_min)"
        grip_pos_max="$(arg grip_pos_max)"
        tty_port="$(arg com_port)"
        baudrate="$(arg baudrate)"
        parity="$(arg parity)"
        data_bits="$(arg data_bits)"
        stop_bit="$(arg stop_bit)"
        slave_id="$(arg slave_id)"
        use_fake_hardware="$(arg use_fake_hardware)"
        frequency_hz="$(arg frequency_hz)"
        xyz="$(arg xyz)"
        rpy="$(arg rpy)">
    </xacro:robotiq_hande_gripper>
</robot>
